doctype html
html
  head
    meta(charset='utf-8')
  body
    h1
      a(href='/main') COUNT Pages
      | This is view.pug pages.
    =count_val
    p
      a(href='/new') New
    p
      a(href='/sql') sql
